USE [wilkosz_a]
GO
/****** Object:  View [dbo].[AllUnpayedExpiredReservations]    Script Date: 2017-05-25 12:20:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AllUnpayedExpiredReservations]
AS
SELECT        r.reservationid, cc.companyname, p.name, p.surname, c.phone, p.email, rcd.reservedno * conf.priceperday AS 'total price'
FROM            reservations AS r JOIN
                         reservationconferenceday AS rcd ON rcd.reservationid = r.reservationid JOIN
                         conferenceday AS cd ON cd.conferenceid = rcd.conferenceid AND cd.dayno = rcd.dayno JOIN
                         conferences AS conf ON conf.conferenceid = rcd.conferenceid LEFT OUTER JOIN
                         clients AS c ON c.clientid = r.clientid JOIN
                         companyclients AS cc ON cc.clientid = r.clientid LEFT OUTER JOIN
                         persons AS p ON p.personid = cc.representantid LEFT OUTER JOIN
                         personalclients AS pc ON pc.clientid = r.clientid

WHERE        (PaymentDate IS NULL) AND (DATEDIFF(day, ReservationDate, GETDATE()) > 14)
UNION
SELECT        r.reservationid, ' ', p.name, p.surname, c.phone, p.email, rcd.reservedno * conf.priceperday AS 'total price'
FROM            reservations AS r JOIN
                         reservationconferenceday AS rcd ON rcd.reservationid = r.reservationid JOIN
                         conferenceday AS cd ON cd.conferenceid = rcd.conferenceid AND cd.dayno = rcd.dayno JOIN
                         conferences AS conf ON conf.conferenceid = rcd.conferenceid LEFT OUTER JOIN
                         clients AS c ON c.clientid = r.clientid JOIN
                         personalclients AS pc ON pc.clientid = r.clientid LEFT OUTER JOIN
                         persons AS p ON p.personid = pc.personid
WHERE        (PaymentDate IS NULL) AND (DATEDIFF(day, ReservationDate, GETDATE()) > 14)

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AllUnpayedExpiredReservations'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AllUnpayedExpiredReservations'
GO
